
  <%= form_with scope: :restaurant, url: restaurants_path, local: true do |form| %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>
    
    <p>
        <%= form.label :address %><br>
        <%= form.text_area :address %>
    </p>

    <p>
        <%= form.label :phone_number %><br>
        <%= form.text_area :phone_number %>
    </p>
    
    <p>
        <%= form.submit %>
    </p>
    <% end %>